/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
  }
  
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .clear {
    clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  html,body
  {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
  
  body {
    font-family: 'Special Elite';
    background-color: #000000;
    color: #ffffff;
    text-align: justify;
    font-size: 18px;
    line-height: 2em;
  }
  
  a {
    text-decoration: none;
  }
  
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .content {
      margin: auto 6%;
  }

  /******************************************
  /* LAYOUT
  /*******************************************/
  
  /* Header */
  
  header {
    background-color: #C0C0C0;
    border-top: solid 1px #000000;
  }
  
  .title {
    color: #000000;
    text-align: center;
  }
  
  .logo {
    font-weight: 800;
    color: #ff0000;
    padding-top: 5%;
    font-size: 60px;
  }

  .tagline {
    font-size: 22px;
    padding-bottom: 2%;
  }

  .header-photo {
    border: solid 2px #ff0000;
    float: right;
    height: 100%;
  }

  .headergraphic-left {
      height: 100%;
  }

  /* .centered-title {
    padding-left: 70px;
  }
   */

  .politics-header-photo {
    border: solid 2px #ff0000;
    float: right;
    height: 220px;
    width: auto;
  }

  /* .logo-politics {
    font-size: 60px;
    font-weight: 800;
    color: #ff0000;
    padding-top: 15px;
    text-align: center;
    padding-left: 150px;
  } */

  /* .headergraphic-politics {
    height: 33px;
  } */
  
  /* Navigation Menu */
  
  nav {
    background-color: #000080;
  }
  
  nav a {
     color: #ffff00;
     font-size: 22px;
     margin-top: 10px;
  }
  
  .yellow {
    color: #ffff00;
  }

  /* Footer */
  
  footer {
    background-color: #C0C0C0;
    text-align: center;
    color: #000000;
    padding: 5%;
    padding-left: 25px;
  }
      
  h4 {
    font-size: 32px;
    color: #000000;
    font-weight: 800;
  }

  /* Homepage */
  
  .topbox {
    background-image: url("../images/cover-photos/museum-entrance.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    min-height: 500px;
    margin-bottom: 5%;
  }
  
  .welcome {
    float: left;
    background-color: #000000;
    color: #ffffff;
    text-align: left;
    width: 316px;
    padding: 2%;
    margin: 2%;
    font-size: 24px;
  }

  #name {
    font-weight: 800;
    font-style: italic;
    color: #ff0000;
  }
  
  #ads {
    margin-left: 6%;
  }

  #navigation-section {
    line-height: 2.3em;
    margin-bottom: 10%;
  }
  
  .right-float {
      float: right;
      margin-left: 25px;
      margin-bottom: 15px;
  }

  .left-float {
      float: left;
      margin-right: 25px;
      margin-bottom: 15px;
  }

  .paragraph {
      margin: 5%;
  }

  h2 {
    text-align: center;
    color: #ff0000;
    font-weight: 800;
    font-size: 38px;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  /*History*/
  
  #news-timeline {
    margin: 3%;
    margin-bottom: 100px;
  }

  #history-sections {
    margin: 5%;
  }

  #history-sections img {
    width: 50%;
    margin-top: 5%;
  }

  #history-sections h3 {
    margin-top: 25px;
  }

  /*Equipment*/
  
  .equipment-category {
    height: 300px;
  }
  
  .equipment-label {
    position: absolute;
    bottom: 18px;
    left: 26px;
    font-size: 36px;
    background: black;
    padding: 5px;
    color: white;
  }
  
  .equipment-label-box {
    position: relative;
    text-align: center;
    margin: 40px;
    border: solid 2px white;
  }
  
  .equipment {
    margin-left: 8%;
    margin-bottom: 75px;
  }
  
  .equipment-gallery {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 25px;
  }
  
  /*About*/
  
  #bioblock {
    border-top: solid 1px #ffffff;
    padding-top: 5%;
  }
  
  .biopic {
    float: right;
    padding-left: 4%;
    margin-bottom: 5%;
  }

  .links {
    padding-bottom: 25%;
  }
  
  .links-photos img {
    width: 30%;
    float: left;
    display: inline-block;
    margin-right: 15px;
  }                                                                                     
  
  .links-box {
    border-top: solid 1px #0000ff;
    padding: 25px;
  }
  
  .links-text {
    width: 57%;
    float: left;
    display: inline-block;
    padding-left: 10%;
    padding-top: 5%;
  }
  
  .links-explanation {
    font-size: 16px;
    margin-top: 15px;
  }
  
  .links-text a {
    color: #ffff00;
  }
  
  /* Contact */
  
  #note {
    float: left;
  }

  #note p {
      font-size: 20px;
  }

  #note h2 {
      font-size: 30px;
      padding-top: 10%;
  }
  
  #notephoto {
    float: left;
    border: solid 2px red;
  }
  
  #contact-photo {
    height: 100%;
    width: 300px;
    float: left;
  }
  
  /* Newsfeed */

  .slider {
    padding: 45px 0px 25px 0px;
  }

  #mission {
    color: #ff0000;
    font-weight: 800;
    font-size: 22px;
  }
  
  #foodMap {
      border: solid 2px #ff0000;
      float: right;
  }
  
  .intro {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
    font-size: 18px;
  }
  
  .latest-review {
    font-family: 'Kalam', cursive;
    background-repeat: no-repeat;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;  
    padding: 3% 0;
  }
  
  #review-title {
    background-image: url("../newsfeed/Map-banner.jpeg");
    background-size: cover;
    width: 75%;
    padding: 3%;
    margin-left: 12%;
  }
  
  .book-frame {
    background-image: url("../newsfeed/food/open-journal-charleston.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 17px;
    padding-left: 80px;
    width: 1000px;
    height: 650px;
    margin-left: 4%;
  }
  
  #flipbook {
    width: 900px;
    height: 615px;
    background-color: transparent;
  }
  
  .left-page {
    width: 450px;
    height: 615px;
  }
  
  .right-page {
    height: 620px;
    position: absolute;
    right: 5px;
  }

  .mobile-food-reviews {
    display:none;
  }

  .past-reviews {
      margin-bottom: 25px;
  }
  
  .region {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    position: absolute;
    padding-top: 5px;
    width: 100%;
    left: -1px;
    top: 40px;
  }
  
  .region h5 {
    text-align: center;
    font-weight: 600;
  }
  
  h5 a {
    color: #000000;
  }
  
  #mid-atlantic {
    background-image: url("../images/cover-photos/Seafood.jpeg");
  }

  #midwest {
    background-image: url("../images/cover-photos/Dutch-baby.jpeg");
  }

  #northeast {
    background-image: url("../images/cover-photos/Bagel-and-lox.jpeg");
  }

  #pacific-northwest {
    background-image: url("../images/cover-photos/Salmon.jpeg");
  }

  #southeast {
    background-image: url("../images/cover-photos/Fried-chicken-and-gravy.jpeg");
  }

  #southwest {
    background-image: url("../images/cover-photos/Mexican-corn.jpeg");
  }

  #west {
    background-image: url("../images/cover-photos/Steak.jpeg");
  }

  #international {
    background-image: url("../images/cover-photos/Dumplings.jpeg");
  }

.regional-food {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    margin: 1%;
    padding-top: 2%;
}

  /*Food Map*/
  
  .close {
      padding-left: 25px;
  }
  .close a {
    color: white;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
  }

  #large-food-map {
    background-color: #b3ebf8;
  }

  #large-food-map img {
    width: 100%;
  }
  
  /* For More On The Story */
  
  .text-left {
    float: left;
  }
  
  #pinata {
    float: left;
  }

  /*Memorabilia*/

  .category img {
    width: 100%;
    margin: 8% 0;
  }
    
  h3 {
    text-align: center;
  }
  
  h3 a {
    color: #ff0000;
    font-weight: 700;
    text-align: justify;
  }

  .mobile-categories {
      display: none;
  }

  .hidden a {
    cursor: text;
  }
  
  .hidden a:visited {
    color: #000000;
  }
  
  /* Conflict/Politics Galleries */
  
  .subcategories {
    display: inline-block;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 25px;
  }

  .category-title {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
  }
    
  .category-title h5 {
    text-align: center;
    font-weight: 600;
    padding-top: 5px;
  }  
  
  #pre-1976 {
    background-image: url("../images/galleries/Nixon.jpeg");
  }
    
  #carter {
    background-image: url("../images/galleries/carter.jpeg");
  }
    
  #reagan {
    background-image: url("../images/galleries/santa-barbara.jpeg");
  }
    
  #hwbush {
    background-image: url("../images/galleries/hw-bush-speech.jpeg");
  }
    
  #clinton {
    background-image: url("../images/galleries/HRC.jpeg");
  }
    
  #wbush {
    background-image: url("../images/galleries/George-W-Bush-desktop.jpeg");
  }
    
  #obama {
    background-image: url("../images/galleries/Obama.jpeg");
  }
    
  #trump {
    background-image: url("../images/galleries/Trump-interview.jpeg");
  }
    
  #foreign-politics {
    background-image: url("../images/galleries/yeltsin-presidential-pinback.jpeg");
  }

  #gulf-wars {
    background-image: url("../images/galleries/Arnett.jpeg");
  }
  
  #balkan-wars {
    background-image: url("../images/galleries/CA-at-airport.jpeg");
  }
  
  #afghanistan {
    background-image: url("../images/galleries/afghan-friends.jpeg");
  }
  
  #arab-israeli-conflict {
    background-image: url("../images/galleries/Arafat.jpeg");
  }
  
  #chechnya {
    background-image: url("../images/galleries/grozny.jpeg");
  }
  
  #other-conflicts {
    background-image: url("../images/galleries/little-dave-beach.jpeg");
  }
  
  /* Gallery Subcategory Pages */
  
  .subcategory-gallery {
    width: 85%;
    text-indent: 5%;
  }
  
  .inline-photos {
    display: inline-block;
    height: 250px;
    width: auto;
  }
  
  .gallery-layout {
    display: inline-block;
    /* padding: 2%; */
  }

  .gallery-layout img{
    display: inline-block;
    height: 300px;
    width: auto;
  }
  
  .gallery-item {
    background-color: #FFFFFF;
    color:#000000;
  }
  
  .item-label {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .item-label a {
    color: #FFFFFF;
  }
  
  /* Item Pages */
  
  .navigation-bar {
    border-top: solid 1px #808080;
    border-bottom: solid 1px #808080;
  }
  
  .red {
    color: #ff0000;
  }
  
  .navigation-bar a {
    color: #ffffff;
  }
  
  .next-item a {
    color: #ffffff;
  }
  
  .item-pages {
    margin-bottom: 15px;
  }
  
  .item-image {
    float: left;
    width: 45%;
    margin-bottom: 75px;
  }
  
  .item-text-block {
    border: solid 2px #ffffff;
    padding: 45px;
    display: inline-block;
    width: 55%;
    height: 666px;
  }
  
  .item-text {
    line-height: 30px;
    position: relative;
  }
  
  .item-block-overflow {
    margin-bottom: 75px;
    border: solid 2px #ffffff;
  }  
  
  .item-image-overflow {
    float: left;
    width: 45%;
    margin-bottom: 25px;
    margin-right: 45px;
  }
  
  .item-text-block-overflow {
    padding: 45px;
  }
  
  .item-text-overflow {
    line-height: 30px;
    position: relative;
  }
  
  .passage {
    font-style: italic;
    padding-left: 30px;
  }
  
  .thumbnail-column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .thumbnail-column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .thumbnail-column img:hover {
    opacity: 1;
  }
  
  .thumbnail-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .expanded-thumbnail container {
    position: relative;
    display: none;
  }
  
  #itemText {
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  .thumbnail-container {
    border: solid 2px #ffffff;
    display: inline-block;
    float: left;
    width: 45%;
    height: 666px;
    margin-bottom: 500px;
  }
  
  .long {
    margin-bottom: 850px;
  }
  
  .youtube-video {
    margin-left: 25%;
  }
  
  #presidential-seal {
    margin-left: 14%;
    margin-top: 25px;
    display: inline-block;
  }
  
  #seal-caption {
    margin-bottom: 25px;
    font-style: italic; 
    display: inline-block;
    margin-left: 14%;
  }
  
  .item-description-photo {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-style: italic;
  }
  

  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

  @media (max-width: 2000px) {
	/* desktop view */
  /******************************************
  /* LAYOUT
  /*******************************************/

  /* Header */

  /* .centered-title {
    padding-left: 70px;
  } */

  /*History*/

  #slide-show-title {
    font-size: 36px;
    padding-top: 6%;
    text-align: center
  }

  /*About*/

  .biopic {
    padding-top: 10%;
  }

  /* Contact */

  form {
    margin: 25px 25px 25px 125px;
  }

  #note {
    width: 45%;
    padding: 3%;
    font-size: 22px;
    line-height: 40px;
    margin-left: 5%;
  }

  #notephoto {
    margin: 50px 25px;
  }

  /*Newsfeed*/

  .book-frame {
    padding-top: 17px;
    padding-left: 80px;
    width: 1000px;
    height: 650px;
    margin-left: 4%;
  }
  
  #flipbook {
    width: 900px;
    height: 615px;
    background-color: transparent;
  }
  
  .left-page {
    width: 450px;
    height: 615px;
  }
  
  .right-page {
    height: 620px;
    position: absolute;
    right: 5px;
  }
  
  /*Food Map*/

  #large-food-map {
    padding-top: 25px;
  }

  .close {
      top: 15px;
      right: 35px;
      font-size: 40px;
  }

   /* That's The Way It Was */

  .newspaper {
      padding-left: 50px;
  }

  .newspaper img {
      width: 95%;
  }

  /* For More On The Story */

  .text-left {
    width: 55%;
    line-height: 40px;
    margin-left: 20px;
  }

  .text {
    line-height: 40px;
    margin: 15px 0 15px 20px;
  }

  #pinata {
    width: 35%;
    margin: 5px 0 25px 35px;
  }

  #trump-toilet-paper {
    margin: 0 55px 0 85px;
  }

  /* Conflict/Politics Galleries */

  .navigation-bar {
    margin-top: 25px;
    padding-top: 5px;
    font-size: 14px;
  }

  .next-item {
    font-size: 14px;
    margin-top: 5px;
  }

  .category-title h5 {
    font-size: 22px;
    margin-top: 225px;
  }

  /* Gallery Category Pages */

  /* .gallery-layout {
    margin-bottom: 25px;
  } */

  .gallery-section-intro {
    margin: 25px 0;
  }


@media(max-width: 1024px) {
	/* tablet landscape */
/******************************************
  /* LAYOUT
  /*******************************************/

  /* Header */

  .header-photo {
    margin-left: 315px;
}

.politics-header-photo {
  margin-left: 325px;
}

  /* .centered-title {
    padding-left: 70px;
  } */

   /*Newsfeed*/
   
   .book-frame {
    display: none;
  }

  #review-title {
      display: none;
  }

  .mobile-food-reviews {
    display: block;
    background-image: url(../Newsfeed/off-white-distressed-paper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000000;
    width: 80%;
    padding: 35px;
    float: center;
    margin: 3% 0 3% 9%;
  }

  .mobile-food-reviews img {
      margin: auto;
      padding: 25px 0px;
  }

  .address {
      text-align: center;
      font-weight: 800;
      line-height: 1.5em;
  }
  
  /*Food Map*/

  #large-food-map {
    padding-top: 25px;
  }

  .close {
      top: 15px;
      right: 35px;
      font-size: 40px;
  }

 /* That's The Way It Was */

  .newspaper {
    padding-left: 50px;
  }

  .newspaper img {
    width: 95%;
  }

  /* For More On The Story */

  .text-left {
    width: 50%;
    line-height: 34px;
  }

  .text {
    line-height: 34px;
    margin: 15px 0;
  }

  #pinata {
    width: 45%;
    margin: 5px 0 25px 35px;
  }

  #trump-toilet-paper {
    margin-right: 45px;
  }

  /* Conflict/Politics Gallery */

  .navigation-bar {
    margin-top: 25px;
    padding-top: 5px;
    font-size: 14px;
  }

  .next-item {
    font-size: 14px;
    margin-top: 5px;
  }

  .category-title h5 {
    font-size: 22px;
    margin-top: 125px;
  }

  .category-title {
    margin-top: 250px;
  }
  
  .subcategories {
    margin-bottom: 25px;    
  }

  #hwbush {
    background-image: url("../images/galleries/hw-bush-speech-mobile.jpeg");
  }

  #wbush {
    background-image: url("../images/galleries/George-W-Bush-mobile.jpeg");
  }

  #trump {
    background-image: url("../images/galleries/Trump-interview-mobile.jpeg");
  }

  #foreign-politics {
    background-image: url("../images/galleries/yeltsin-presidential-pinback-mobile.jpeg");
  }

  /* Gallery Category Pages */

  .inline-photos {
    height: 200px;
  }

  .gallery-layout img{
    height: 250px;
    width: auto;
    margin-right: 2%;
  }

  .gallery-section-intro {
    margin: 25px 0;
  }

  /* Item Pages */

  .item-text-block {
    padding: 30px;
    display: inline-block;
    width: 55%;
    height: 558px;
  }
  
  .item-text {
    line-height: 30px;
    position: relative;
  }
}


@media (max-width: 768px) {
	/* tablet portrait */
  /******************************************
  /* LAYOUT
  /*******************************************/

  /* Header */

  .header-photo {
  	display: none;
  }

  .politics-header-photo {
    margin-left: 250px;
  }

  .centered-title {
    padding-left: 70px;
  }

  /* Contact */

  #note {
      width: 75%;
  }

  /* Newsfeed */

  #foodMap {
    margin-right: 18%;
    margin-left: 100px;;
    display: inline-block;
  }

  .regional-food {
    width: 23%;
  }

  .region h5 {
    font-size: 18px;
  }

  /*Food Map*/

  #large-food-map {
    padding-top: 25px;
    max-width: 725px;
  }

  .close {
      top: 15px;
      right: 35px;
      font-size: 40px;
  }

   /* That's The Way It Was */

  .newspaper {
      padding-left: 50px;
  }

  .newspaper img {
      width: 95%;
  }

  /* For More On The Story */

  .text-left {
    width: 50%;
    line-height: 34px;
  }

  .text {
    line-height: 34px;
    margin: 15px 0;
  }

  #pinata {
    width: 45%;
    margin: 5px 0 25px 35px;
  }

  #trump-toilet-paper {
    margin-right: 45px;
  }

  /*Memorabilia*/

  .mobile-categories img {
    width: 100%;
    margin: 25px 0px;
  }

  .mobile-categories {
    display: inline-block;
    margin-left: 5%;
    width: 90%;
  }

  .desktop-categories {
      display: none;
  }

  /* Conflict/Politics Gallery */

  .navigation-bar {
    margin-top: 25px;
    padding-top: 5px;
    font-size: 14px;
  }

  .next-item {
    font-size: 14px;
    margin-top: 5px;
  }

  .category-title h5 {
    font-size: 20px;
    margin-top: 125px;
  }

  /* Memorabilia Category Pages */
  
  .inline-photos {
    height: 150px;
  }
  
  .gallery-layout {
    margin-bottom: 25px;
  }

  .gallery-section-intro {
    margin: 25px 0;
  }

  /*Newsgathering Tools*/

  #ngt {
  	font-size: 42px;
  }

  /* Gallery Category Pages */

  .gallery-layout img{
    height: 175px;
    margin-right: 2%;
  }

  .gallery-section-intro {
    margin: 25px 0;
  }
}


@media(max-width: 640px) {
    /* landscape view */  
    /******************************************
    /* LAYOUT
    /*******************************************/
  
    body {
        font-size: 16px;
    }

    /* Header */
    .logo {
        font-size: 40px;
        padding-top: 25px;
    }

    .tagline {
        font-size: 22px;
    }

    .topbox {
        background-image: url(../images/cover-photos/museum-entrance-mobile.jpeg);
    }

   .header-photo {
    margin-left: 140px;
    }

    .politics-header-photo {
      margin-left: 150px;
    }
  
    /* Footer */
  
    h4 {
       margin-top: 45px;
    }

    .social-media {
        margin-left: 100px;
        margin-top: 25px;
    }
  
    /* Homepage */
  
    .welcome {
      font-size: 16px;
      padding: 15px;
    }

    h2 {
        font-size: 26px;
    }

    /* Contact */
  
    form {
      margin: 25px 25px 25px 125px;
    }
  
    #note {
      width: 75%;
      padding-left: 25px;
      font-size: 26px;
      line-height: 40px;
    }
  
    #notephoto {
      margin: 25px;
      margin-bottom: 50px;
    }
  
    /* Newsfeed */

    #foodMap {
      margin-right: 0;
      margin-left: 0;
    }

    .book-frame {
        display: none;
    }
      
    .mobile-food-reviews img {
        width: 90%;
    }
    
    .regional-food {
      width: 33%;
      margin-left: 10%;
    }
  
    .region h5 {
      font-size: 16px;
    }
  
    /*Food Map*/
  
    #large-food-map {
      padding-top: 25px;
    }
  
    .close {
        top: 15px;
        right: 35px;
        font-size: 40px;
    }
  
     /* That's The Way It Was */
  
    .newspaper {
        padding-left: 50px;
    }
  
    .newspaper img {
        width: 95%;
    }
  
    /* For More On The Story */
  
    .text-left {
      width: 50%;
      line-height: 34px;
    }
  
    .text {
      line-height: 34px;
      margin: 15px 0;
    }
  
    #pinata {
      width: 45%;
      margin: 5px 0 25px 35px;
    }
  
    #trump-toilet-paper {
      margin-right: 45px;
    }
  
    /* Conflict/Politics Galleries */
  
    .navigation-bar {
      margin-top: 25px;
      padding-top: 5px;
      font-size: 14px;
    }
  
    .next-item {
      font-size: 14px;
      margin-top: 5px;
    }
  
    .subcategories {
      width: 85%;
      }

    .category-title h5 {
      font-size: 22px;
      margin-top: 125px;
    }
  
    /* Gallery Category Pages */
  
    .inline-photos {
      height: 100px;
    }

    .gallery-layout {
      font-size: 12px;
      line-height: 1.5em;
    }

  .gallery-layout img{
    height: 150px;
    width: auto;
    margin-right: 2%;
  }
  
    .gallery-section-intro {
      margin: 25px 0;
    }
  }

@media(max-width: 480px) {
    /* large portrait screens */
    /******************************************
    /* LAYOUT
    /*******************************************/
  
    img {
      width: 100%;
      height: auto;
    }

    /* Header */
  
    .logo {
      font-size: 32px;
      margin-top: 25px;
    }

    .tagline {
        font-size: 18px;
    }

    .headergraphic-left {
        margin-left: 0;
    }

    .politics-header-photo {
      margin-left: 115px;
    }

    /* .centered-title {
      padding-left: 70px;
    }

    /* Navigation Menu */
  
    .nav a {
      font-size: 16px;
    }
  
    /*About*/

   .links {
     padding-bottom: 150px;
   }

    /* Contact */
  
    form {
      margin: 25px 25px 25px 125px;
    }
  
    #note {
      width: 85%;
      padding: 25px;
      font-size: 26px;
      line-height: 40px;
    }
  
    #notephoto {
      margin: 25px;
      margin-bottom: 50px;
    }
  
    /* Newsfeed */
  
    .regional-food {
        width: 35%;
        margin-left: 10%;
    }
      
    .region h5 {
      font-size: 16px;
    }
  
    /*Food Map*/
  
    #large-food-map {
      padding-top: 25px;
    }
  
    .close {
        top: 15px;
        right: 35px;
        font-size: 40px;
    }
  
     /* That's The Way It Was */
  
    .newspaper {
        padding-left: 50px;
    }
  
    .newspaper img {
        width: 95%;
    }
  
    /* For More On The Story */
  
    .text-left {
      width: 50%;
      line-height: 34px;
    }
  
    .text {
      line-height: 34px;
      margin: 15px 0;
    }
  
    #pinata {
      width: 45%;
      margin: 5px 0 25px 35px;
    }
  
    #trump-toilet-paper {
      margin-right: 45px;
    }
    
    /* Conflict/Politics Galleries */
  
    .navigation-bar {
      margin-top: 25px;
      padding-top: 5px;
      font-size: 14px;
    }
  
    .next-item {
      font-size: 14px;
      margin-top: 5px;
    }
  
    .category-title h5 {
      font-size: 22px;
      margin-top: 125px;
    }
  
    /* Gallery Category Pages */
  
    .inline-photos {
      height: 75px;
    }

    .gallery-layout img {
      height: 100px;
    }
  
    .gallery-section-intro {
      margin: 25px 0;
    }
  }